{% extends "base.html" %}
{% block content %}
<h1>Uusi kappale</h1>
<body>
    <h1>Uusi kappale</h1>
    <form action="/create_item" method="post" enctype="multipart/form-data">
        <p>
        Otsikko: <br />
            <input type="text" name="title" />
        <p>
            Artisti: <br />
            <input type="text" name="artist" />
        </p>
        </p>
        <p>
            Genre: <br />
            <textarea name="genre" rows="8" cols="20"></textarea>
        </p>
        <p>
            Kappale: <br />
            <input type="file" name="file" accept=".mp3" />
        </p>
        <input type="submit" value="Lisää kappale" />
    </form>
</body>
</html>