{% extends "base.html" %}
{% block content %}
<head>
    <title>AudioLovers - Profiili</title>
</head>
<body>
    <h1>My Audio</h1>
    <p><a href="/">Etusivu</a> | <a href="/logout">Kirjaudu ulos</a></p>
    <h2>{{ session.username }}'s Audio</h2>
    {% for song in songs %}
    <div>
        {% if song["artist"] %}{{ song["artist"] }} - {% endif %}{{ song["title"] }} - {{ song["genre"] }}
<i>({{ song["filename"] }})</i>
        <button onclick="playSong('/uploads/{{ song['filename'] }}')">▶ Play</button>
        <form action="/delete_song" method="post" style="display: inline;">
            <input type="hidden" name="song_id" value="{{ song[0] }}">
            <input type="submit" value="Poista">
        </form>
    </div>
    {% endfor %}
    {% if not songs %}
    <p>No Audio.</p>
    {% endif %}
    
    <h2>My comments</h2>
    {% for comment in comments %}
    <div>
<a href="/song/{{ comment.song_id }}"><strong>{{ comment.song_title }}</strong></a>: {{ comment.content }} 
        <small>({{ comment.created }})</small>
        <form action="/delete_comment" method="post" style="display: inline;">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <input type="submit" value="Poista" style="font-size: small;">
        </form>
    </div>
    {% endfor %}
    {% if not comments %}
    <p>No comments</p>
    {% endif %}
{% endblock %}
